
.span_biological_resource {
    color: #357EDD;
    font-weight: bold;
    border: solid;
    border-width: 2px;
    border-color: #357EDD;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}


.span_abstract_entity {
    color: white;
    font-weight: bold;
    border: solid;
    border-width: 2px;
    border-color: #314354ff;
    background-color: #647687ff;
    border-radius: 0.4em;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.span_bioinformatic_resource {
    color: white;
    border: solid;
    border-width: 2px;
    border-color:black;
    background-color: #357EDD;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.figure_box {
    border: solid;
    border-width: 4px;
    border-color: #357EDD;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.8em;
}

a {
    color: #357EDD;
}